
/* Widget - Tag Field
-----------------------------*/
.tag-field {
    border: 1px solid #CCCCCC;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    cursor: text;
    margin-bottom: 0;
    min-height: 36px;
}

.tag-field .tag {
    background-color: #F58020;
    border-radius: 4px;
    cursor: default;
    display: inline-block;
    margin: 2px 0 2px 2px;
    padding: 5px;
}

.tag-field .tag input[type="text"] {
    background: none;
    border: 0;
    box-shadow: none;
    color: #FFE493;
    outline: none;
    padding: 0;
    width: 54px;
}

.tag-field .tag input[type="text"]::-webkit-input-placeholder {
    color: #FFFFFF;
}

.tag-field .tag input[type="text"]::-moz-placeholder {
    color: #FFFFFF;
}

.tag-field .tag input[type="text"]:-ms-input-placeholder {
    color: #FFFFFF;
}

.tag-field .tag input[type="text"]input:-moz-placeholder {
    color: #FFFFFF;
}

.tag-field .tag .remove {
    color: #DB5E5E;
    padding-left: 5px;
}

.navbar-static-top {
    background-color: #355f34 !important;
    color: white !important;
}
.navbar-brand {
    color: #f3f3f3 !important;
    font-size: 20px;
    font-weight: 500;
}