

.temp-1, .temp-2 {
  display: none;

  margin-top: 40px;
}

.pin {
    position: absolute;
    top: -11px;
    left: -20px;
}
.row .thumbnail {
    background-color: #f0eab2;
    box-shadow: #333 7px 5px 13px -1px;
}
.row .thumbnail .caption {
    color: #000;
}

.row .thumbnail .caption a {
    text-decoration: none;
}
.row .thumbnail .caption .title {
    font-weight: 500;
    color: #687fa7;
    
}
.row .thumbnail .caption .date {
    color: #333;
}


.text-container {
  height:200px;
  width:400px;
  border: 1px solid #000;
  text-align: center;
}

.text-container span {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.fa.fa-star,
.fa.fa-star-o {
  color: gold;
  font-size: 20px;
}